ACI_FrontEndWeb_Development/Service References/ServiceReference/Service142.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.20.131.55/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService" />
  <xs:import schemaLocation="http://172.20.131.55/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getEventDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClasses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClassesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getClassesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getcourseDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CourseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getcourseDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getcourseDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProgramID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCourseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="getImageResult" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAvailableCourses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAvailableCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAvailableCoursesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpecificClassesAvailableToSignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CourseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpecificClassesAvailableToSignUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSpecificClassesAvailableToSignUpResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCoursesAvailableToSignUp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCoursesAvailableToSignUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllCoursesAvailableToSignUpResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCarouselimages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCarouselimagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCarouselimagesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getfirstcarouselimages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getfirstcarouselimagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getfirstcarouselimagesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFeaturedEventsData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getFeaturedEventsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getFeaturedEventsDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFeaturedCoursesData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getFeaturedCoursesDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getFeaturedCoursesDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendUpdateClassToCmsDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClassID" type="xs:int" />
        <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="RegStartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="RegEndDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendUpdateClassToCmsDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendNewClassToCmsDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClassID" type="xs:int" />
        <xs:element minOccurs="0" name="CourseID" type="xs:int" />
        <xs:element minOccurs="0" name="PublishDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ProjectCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="RegStartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="RegEndDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendNewClassToCmsDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendUpdateProgramToCmsDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="courseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendUpdateProgramToCmsDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendUpdateProgramToCmsDBResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendNewProgramToCmsDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseID" type="xs:int" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="allmodulestitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="coursefee" type="xs:decimal" />
        <xs:element minOccurs="0" name="courseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="courseVersion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendNewProgramToCmsDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendNewProgramToCmsDBResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineApplicantByNAME">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineApplicantByNAMEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOnlineApplicantByNAMEResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineApplicantByNRIC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineApplicantByNRICResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOnlineApplicantByNRICResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineApplicantByAppID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicantID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineApplicantByAppIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOnlineApplicantByAppIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventID" type="xs:int" />
        <xs:element minOccurs="0" name="EventTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NRIC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Handphone" type="xs:int" />
        <xs:element minOccurs="0" name="ReferralSource" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
        <xs:element minOccurs="0" name="nationality" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HighestEducation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CurrentEmployment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RegistrationDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="TnC" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertIntoEventsResult" type="xs:int" />
        <xs:element minOccurs="0" name="ex" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>